  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(198, 198, 198);
  }

  .Calculator{
    border: 1px solid black;
    margin: 100px auto;
    width: 30%;
    height: auto;
  }

  .Calculator .output{
    width: 100%;
    background-color: black;
    height: 70px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
  }

  .Calculator .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
  }

  .Calculator .container .clear{
    grid-column: 1 / 5;
  }

  .Calculator button{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .clear{
    background-color: rgb(153, 19, 19);
  }

  .operator{
    background-color: orange;
  }