  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(251, 251, 251);
  }

  .Calculator{
    border: 1px solid black;
    margin: 100px auto;
    width: 300px;
    height: auto;
  }

  .Calculator .output{
    width: 100%;
    background-color: black;
    height: 70px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
  }

  .Calculator .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
  }

  .Calculator .container .clear{
    grid-column: 1 / 5;
  }

  .Calculator button{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: .5px solid black;
  }


  .clear{
    background-color: rgb(153, 19, 19);
  }

  .clear:active{
    background-color: rgb(124, 17, 17);
  }

  .operator{
    background-color: orange;
  }

  .operator:active{
    background-color: rgb(192, 127, 7);
  }

  .operand:active, .equals:active, .decimal:active{
    background-color: rgb(187, 184, 184);
  }

  @media(max-width{
    .Calculator{
      width: 80%;
    }
  })